.btn {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;

  &--show {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 8px;
    padding: 15px 60px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: var(--blue-dark);
    }
  }
  &--nav {
    color: var(--black);
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--blue);
    }
  }
}
