:root {
  --white: #fff;
  --medium-grey: #b2adad;
  --light-grey2: #f5f5f5;
  --grey: #727271;
  --black: #3c3e40;
  --light-grey: #d7d7d7;
  --blue: #539ded;
  --blue-dark: #0852a1;
  --medium-blue: #2e89eb;
  --red: #d7262e;
}
